<div class="chat">
    <div class="chat-messages" #messages>
        <div *ngFor="let chatRoomMessage of chatRoomMessage" class="chat-message" [ngClass]="{'chat-message--outgoing' : sessionUserId === chatRoomMessage.userId}">
            <div class="user">{{chatRoomMessage.username}}</div>
            <div class="message">{{chatRoomMessage.message}}</div>
            <div class="date">{{chatRoomMessage.timestamp | date:'short'}}</div>
        </div>
    </div>
    <div class="chat-reply">
        <form (keydown.enter)="$event.preventDefault(); sendMessageAction()">
            <mat-form-field [appearance]="'outline'" hideRequiredMarker=true>
                <mat-label>Message</mat-label>
                <input matInput #message [formControl]="messageFormControl">
                <mat-hint align="end">{{message.value.length}}</mat-hint>
            </mat-form-field>
        </form>
        <button mat-icon-button color="primary" [disabled]="messageFormControl.invalid" (click)="sendMessageAction()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>