

.chat {
    display: flex;
    flex-flow: column;
    height: calc(100% - 2rem);
    padding: 1rem 2rem;

    .chat-messages {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        overflow-y: auto;
    }
    
    .chat-message {
        display: flex;
        flex-flow: column;

        padding: .5rem;
        margin: .5rem;
        margin-right: 20%;
        background-color: rgb(63, 81, 181);
        border-radius: 1rem;
        color: #fff;

        &--outgoing {
            background-color: orange;
            margin-right: inherit;
            margin-left: 20%;
        }

        .user {
            font-weight: lighter;
            font-size: .75rem;
            font-weight: bold;
        }
        
        .message {
            
        }
        
        .date {
            font-size: .5rem;
            text-align: right;
        }
    }

    .chat-reply {
        flex-grow: 0;
        color: green;

        display: flex;
        flex-flow: row;

        form {
            flex-grow: 1;
            margin: 1rem;
            mat-form-field {
                width: 100%;
            }
        }

        button {
            margin-top: 1.5rem;
        }
    }
}