.chat-rooms-list {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    background-color: rgb(63, 81, 181);
    

    .chat-room {
        display: flex;
        align-items: center;
        width: 100%;
        height: 2rem;
        padding: 1rem;
        
        font-weight: bold;
        color: #fff;

        cursor: pointer;

        border-bottom: 1px solid #fff;

        &:hover, &.selected {
            color: #000;
            background: #fff;
        }

        &:focus {
            outline: none;
        }
    }
}