<div class="app">
    <div class="sidebar">
        <div class="create-new-chatroom" (click)="createNewChatRoomAction()">
            create new chatroom
        </div>
        <div class="chat-rooms-list">
            <app-chat-rooms-list [chatRooms]="chatsRooms$ | async"></app-chat-rooms-list>
        </div>
    </div>
    <div class="chat">
        <router-outlet></router-outlet>
    </div>
</div>