$sidebar-width: 20rem;
$chat-width: calc(100% - #{$sidebar-width});

:host {
    height: 100%
}

.app {
    height: 100%;
    display: flex;
    flex-flow: row;

    .sidebar {
        height: 100%;
        width: $sidebar-width;
        display: flex;
        flex-flow: column;
        background-color: rgb(63, 81, 181);
        
        .create-new-chatroom {
            cursor: pointer;
            flex-grow: 0;
            background-color: #ff4081;
            text-align: center;
            font-weight: bold;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
        }
        
        .chat-rooms-list {
            flex-grow: 1;
        }
    }

    
    .chat {
        width: $chat-width;
    }
}