
<ng-template #noChatroomSelected>
    <div class="no-chatroom-selected">
        Select a chatroom or create a new one
    </div>
</ng-template>

<app-chat *ngIf="chatRoomId; else noChatroomSelected" [chatRoomMessage]="chatRoomMessages$ | async" [sessionUserId]="sessionUserId" (sendMessage)="onSendMessage($event)"></app-chat>
